* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #000;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* HERO */
.hero {
    height: 80vh;
    background: url("https://static.vecteezy.com/system/resources/previews/008/564/775/non_2x/sport-shoes-banner-for-website-with-button-ui-design-illustration-vector.jpg") center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 20px;
    margin: 10px 0;
}

.hero button {
    width: 200px;
    padding: 15px;
    font-size: 16px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

/* PRODUITS */
.products {
    padding: 50px;
    text-align: center;
}

.products h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

.product-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #f5f5f5;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 15px 0 5px;
}

.card p {
    font-weight: bold;
}

.card button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}
header .logo img {
    height: 60px;   /* Hauteur du logo */
    width: auto;    /* Respecte les proportions */
}
a { text-decoration: none; color: white; }